# Deploy to Cloudflare Pages Pipeline
defaults:
  run:
    shell: bash

name: Deploy to Cloudflare Pages
on:
  push:
    branches:  [ main ]
  pull_request:
    branches: [ main ]



jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
        env:
          NODE_ENV: production

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: 'lukairo-fullstack-pages'
          directory: './build/client'
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
